<div class="main_user_wrapper d-flex align-items-center justify-content-center">
    <div class="main_form_area d-flex justify-content-center">
        <div class="form_section d-flex flex-column align-items-center">
            <a href="" class="logo"><img src="assets/images/logo.png" alt=""></a>
            <h1>Reset Your password</h1>
            <p>Please enter your email address and we will send you a password password link.</p>
            <div class="form_field_area">
                <div class="input_back">
                    <label for="email" class="d-flex align-items-center">
                        <span><img src="assets/images/mail.svg" alt=""></span>                        
                        Email Address
                    </label>
                    <input type="text" name="email" id="email" autocomplete="off">
                </div>
                
            </div>
            
            <div class="input_button btn">
                <input type="submit" value="Send reset link">
            </div> 
            <p>Don't have an account?<a [routerLink]="['/register']"> Register here</a></p>  
        </div>

    </div>
</div>
