.form_section{
    width: 41.6rem;
    height: auto;
    background-color: var(--white-color);
    padding: 3rem 4rem;
    box-shadow: 0 3px 6px rgba(0,0,0,.1);
    border-radius: 10px;
    .logo{
        width: 20rem;
        img{
            width: 100%;
        }
    }
    h1{
        font-weight: 700;
        font-size: 2.5rem;
        margin-top: 3rem;
        margin-bottom: 2rem;
    }
    p{
        font-size: 1.6rem;
    }
    .form_field_area{
        width: 100%;
        margin: 3rem 0 0 0;
        .input_back{ 
            width: 100%; 
            margin-bottom: 2rem; 
            span{
                width: 3.5rem;
            }
            img{
                opacity: .3;
                
            }
            label{
                font-size: 1.5rem;
                font-weight: 400;
                color: var(--description-color);
            }
                    
            input{
                width: 100%;
                height: 3rem;
                background-color: transparent;
                padding: 0 15px 0 3.5rem;
                position: relative;
                border: none;
                border-bottom: var(--grey-color) 1px solid;
                font-size: 16px;
                outline-style: none;
                color: var(--description-color);
                
            }
        }
    }
    
    .input_button.btn{
        position: relative;
        overflow: hidden;
        margin: 20px 0;
        input{
            background-color: transparent;
            border: none;
            outline-style: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            font-size: 14px;
            transition: all .5s ease-in-out;
            text-transform: uppercase;
            

        }
        &:hover{
            input{
                color: var(--white-color);
            }
        }
    }
}

